:root {
  --blue-color: #00205B;
  --green-color: #97D700;
  --grey-color: #464646;
}

.health-container {
  height: 682px;
  display: flex;
}

.health-container__section1 {
  background-image: url("../../Assets/Images/healthBackground.png");
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.health-container__section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.health-container__heading-text {
  font-size: 60px;
  font-weight: 500;
  color: var(--blue-color);
  text-align: left;
}

.health-container__heading-text span {
  padding-left: 10px;
  color: var(--green-color);
}

.health-container__healthEssentials {
  display: flex;
  align-items: center;
  border: 1px solid #E2E2E2;
  border-radius: 16px;
  opacity: 1;
  margin: 10px;
  padding: 20px;
}

.health-container__card {
  color: white;
  border-radius: 85%;
  padding: 8%;
}

.health-container__card--green {
  background-color: var(--green-color);
}

.health-container__card--blue {
  background-color: var(--blue-color);
}

h6 {
  color: var(--grey-color);
}

.health-container__dataSection {
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  text-align: left;
  margin-left: 20px;
}
