.product-container {
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
}

.product-image {
  width: 96%;
  height: auto;
  display: block; /* Ensure the image doesn't have extra space below */
  margin: 0 auto; /* Center the image within the slide */
}
